In [11]:
import json
import pandas as pd
import geopandas as gpd

gdf_2010 = gpd.read_file('/Users/pearlliu100/Documents/GitHub/UDS-Project--Full-Team-/landvalue_2010_new.geojson')
#gdf_2010 = gdf_2010.rename(columns={'roll_totalvalue': 'roll_totalvalue_2010'})
#gdf_2010.set_index('ain',inplace=True)
gdf_2010

,ain,situszip,center_lat,center_lon,rollyear,roll_landvalue,sqftmain,roll_impbaseyear,propertylocation,usecodedescchar1,...,location_1,OBJECTID_left,neighborhood,index_right,OBJECTID_right,CT20,LABEL,ShapeSTArea,ShapeSTLength,geometry
0,5076004007,90006-5707,34.05402081,-118.28692121,2010,227767,0,2002,953 MAGNOLIA AVE LOS ANGELES CA 90006,Commercial,...,"{'latitude': '34.05402081', 'needs_recoding': ...",107.0,Westlake,684,685,213401,2134.01,2.110769e+06,6327.274225,POINT (-118.28692 34.05402)
1,5076004042,90006,34.05416636,-118.28739291,2010,58918,1050,2010,"940 S ELDEN AVENUE, 204 LOS ANGELES CA 90006",Residential,...,"{'latitude': '34.05416636', 'needs_recoding': ...",107.0,Westlake,684,685,213401,2134.01,2.110769e+06,6327.274225,POINT (-118.28739 34.05417)
2,5076004067,90006,34.05416636,-118.28739291,2010,82485,1470,2010,"940 S ELDEN AVENUE, 502 LOS ANGELES CA 90006",Residential,...,"{'latitude': '34.05416636', 'needs_recoding': ...",107.0,Westlake,684,685,213401,2134.01,2.110769e+06,6327.274225,POINT (-118.28739 34.05417)
3,5076004028,90006,34.05416636,-118.28739291,2010,68457,1220,2010,"940 S ELDEN AVENUE, 110 LOS ANGELES CA 90006",Residential,...,"{'latitude': '34.05416636', 'needs_recoding': ...",107.0,Westlake,684,685,213401,2134.01,2.110769e+06,6327.274225,POINT (-118.28739 34.05417)
4,5076004030,90006,34.05416636,-118.28739291,2010,80802,1440,2010,"940 S ELDEN AVENUE, 102 LOS ANGELES CA 90006",Residential,...,"{'latitude': '34.05416636', 'needs_recoding': ...",107.0,Westlake,684,685,213401,2134.01,2.110769e+06,6327.274225,POINT (-118.28739 34.05417)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41149,5443034007,90039-3714,34.09879045,-118.25012427,2010,47196,1344,1985,2010 SUNFLOWER AVE LOS ANGELES CA 90039,Residential,...,"{'latitude': '34.09879045', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25012 34.09879)
41150,5443034040,90039-3708,34.09793157,-118.24867157,2010,44712,897,1980,1903 ROSEBUD AVE LOS ANGELES CA 90039,Residential,...,"{'latitude': '34.09793157', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24867 34.09793)
41151,5443030020,90039-3715,34.09685223,-118.24962420,2010,50203,2818,2007,1909 WALCOTT WAY LOS ANGELES CA 90039,Residential,...,"{'latitude': '34.09685223', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24962 34.09685)
41152,5443035014,90039-3707,34.09866725,-118.24913765,2010,549257,12377,1987,2000 RIVERSIDE DR LOS ANGELES CA 90039,Commercial,...,"{'latitude': '34.09866725', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24914 34.09867)
41153,5443030015,90039-3715,34.09689235,-118.24994122,2010,140148,1115,1996,1915 WALCOTT WAY LOS ANGELES CA 90039,Residential,...,"{'latitude': '34.09689235', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24994 34.09689)

In [12]:
gdf_2010.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 41154 entries, 0 to 41153
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ain                        41154 non-null  object
 1   situszip                   41154 non-null  object
 2   center_lat                 41154 non-null  object
 3   center_lon                 41154 non-null  object
 4   rollyear                   41154 non-null  object
 5   roll_landvalue             41154 non-null  object
 6   sqftmain                   41154 non-null  object
 7   roll_impbaseyear           41154 non-null  object
 8   propertylocation           41154 non-null  object
 9   usecodedescchar1           41144 non-null  object
 10  effectiveyearbuilt         41154 non-null  object
 11  parcelboundarydescription  41154 non-null  object
 12  roll_landbaseyear          41154 non-null  object
 13  location_1                 41154 non-null  object
 14  OBJECTID_left              41154 non-null  float64
 15  neighborhood               41154 non-null  object
 16  index_right                41154 non-null  int64
 17  OBJECTID_right             41154 non-null  int64
 18  CT20                       41154 non-null  object
 19  LABEL                      41154 non-null  object
 20  ShapeSTArea                41154 non-null  float64
 21  ShapeSTLength              41154 non-null  float64
 22  geometry                   41154 non-null  geometry
dtypes: float64(3), geometry(1), int64(2), object(17)
memory usage: 7.2+ MB

In [13]:
gdf_2010.query('roll_landbaseyear == "2010"').roll_landbaseyear.count()

2186

In [14]:
gdf_2010_sold = gdf_2010[gdf_2010["roll_landbaseyear"] == '2010']
gdf_2010_sold

,ain,situszip,center_lat,center_lon,rollyear,roll_landvalue,sqftmain,roll_impbaseyear,propertylocation,usecodedescchar1,...,location_1,OBJECTID_left,neighborhood,index_right,OBJECTID_right,CT20,LABEL,ShapeSTArea,ShapeSTLength,geometry
110,5076006006,90006-1926,34.05337712,-118.28455814,2010,445001,5698,2010,963 S HOOVER ST LOS ANGELES CA 90006,Residential,...,"{'latitude': '34.05337712', 'needs_recoding': ...",107.0,Westlake,684,685,213401,2134.01,2.110769e+06,6327.274225,POINT (-118.28456 34.05338)
162,5077013035,90005-3910,34.06108702,-118.28444197,2010,1169400,0,2010,667 S HOOVER ST LOS ANGELES CA 90005,Residential,...,"{'latitude': '34.06108702', 'needs_recoding': ...",107.0,Westlake,664,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28444 34.06109)
170,5077013036,90005-3913,34.06132600,-118.28567752,2010,2504200,3192,2010,2851 SUNSET PL LOS ANGELES CA 90005,Commercial,...,"{'latitude': '34.061326', 'needs_recoding': Fa...",107.0,Westlake,664,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28568 34.06133)
181,5077014054,90005-3977,34.06050239,-118.28604757,2010,200000,980,2010,"2864 SUNSET PL, 405 LOS ANGELES CA 90005",Residential,...,"{'latitude': '34.06050239', 'needs_recoding': ...",107.0,Westlake,664,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28605 34.06050)
191,5077013034,90005-3913,34.06129452,-118.28500965,2010,12912400,1278,2010,2809 SUNSET PL LOS ANGELES CA 90005,Commercial,...,"{'latitude': '34.06129452', 'needs_recoding': ...",107.0,Westlake,664,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28501 34.06129)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40896,5443007007,90039-3946,34.09445414,-118.25052874,2010,392000,1208,2010,1964 LANDA ST LOS ANGELES CA 90039,Residential,...,"{'latitude': '34.09445414', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25053 34.09445)
41008,5443015013,90026-2053,34.09343035,-118.24598410,2010,396000,920,2010,2427 VALENTINE ST LOS ANGELES CA 90026,Residential,...,"{'latitude': '34.09343035', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24598 34.09343)
41086,5443027028,90039-3735,34.09648201,-118.24958644,2010,525000,888,2010,1908 WALCOTT WAY LOS ANGELES CA 90039,Residential,...,"{'latitude': '34.09648201', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24959 34.09648)
41107,5443028027,90039-3731,34.09575278,-118.25177910,2010,258600,1068,2010,1941 WHITMORE AVE LOS ANGELES CA 90039,Residential,...,"{'latitude': '34.09575278', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25178 34.09575)
41121,5443028035,90039-3739,34.09586083,-118.25144462,2010,365000,517,2010,2355 PERU ST LOS ANGELES CA 90039,Residential,...,"{'latitude': '34.09586083', 'needs_recoding': ...",27.0,Echo Park,525,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25144 34.09586)

In [15]:
min_number = min(gdf_2010_sold.ain)
print(min_number)

5056001017

In [16]:
max_number = max(gdf_2010_sold.ain)
print(max_number)

5518033027

In [17]:
#import parcel data
import requests
import json


url = 'https://data.lacounty.gov/resource/rjze-ndj2.json?$where=within_box(the_geom, 34.1164, -118.3217, 34.01333, -118.2675)&$limit=100000' # copied and pasted from the webpage
r = requests.get(url)
parcel = pd.DataFrame(json.loads(r.text))
parcel

#south:34.013339055368384, -118.23277272855023
#north: 34.11633386937314, -118.2674474941663
#eaast:34.01604254848126, -118.2217864006906
#west: 34.05453104173829, -118.32179797239648
#https://data.cityofchicago.org/resource/yama-9had.json?$where=within_polygon(the_geom, 'MULTIPOLYGON (((34.1037 -118.2484, 34.0054 -118.2455, 34.0545 -118.2062, 34.0633 -118.3351)))')
#within_polygon(location, 'MULTIPOLYGON (((34.10378510012116, -118.24846458486526, 34.00549184389096, -118.24552614565691, 34.05450056185422, -118.20622452124513, 34.06332521000708, -118.33514854151177)))')
#$where=ain>5056000000.0&$limit=2500000
#requestString = 'https://data.lacounty.gov/resource/rjze-ndj2.json&$limit=2100000'
#r = requests.get(requestString)
#d = json.loads(r.text)
#parcel = pd.DataFrame(d)
#parcel

,the_geom,lon_coord,ain,lat_coord,x_coord,y_coord,shape_area,shape_len
0,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32052234,5052003001,34.02944719,6464550.25589,1833253.40852,4118.85839844,268.710312492
1,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32036613,5052003002,34.0294473,6464597.58649,1833253.29705,4118.71191406,268.700285953
2,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32036544,5052003004,34.02927138,6464597.59358,1833189.27834,5822.9453125,366.020815496
3,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32036271,5052003010,34.02859509,6464597.635,1832943.16,5821.99609375,366.000915114
4,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32036179,5052003012,34.02836261,6464597.645,1832858.555,6561.81738281,376.420914855
...,...,...,...,...,...,...,...,...
52251,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.29500987,5540014010,34.09448939,6472349.83528,1856899.75435,17708.1816406,537.983233013
52252,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.2942414,5540015005,34.094516,6472582.52329,1856908.75437,9905.31347656,485.910341354
52253,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.29424216,5540016010,34.09423002,6472581.98691,1856804.68404,10059.3476563,487.292871966
52254,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.29465601,5540023002,34.09311708,6472455.505,1856400.03,6749.98144531,370.00250984
52255,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.295756,5540026006,34.09132439,6472120.54739,1855748.61818,7204.76464844,388.192655311

In [18]:
parcel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52256 entries, 0 to 52255
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   the_geom    52256 non-null  object
 1   lon_coord   52256 non-null  object
 2   ain         52248 non-null  object
 3   lat_coord   52256 non-null  object
 4   x_coord     52256 non-null  object
 5   y_coord     52256 non-null  object
 6   shape_area  52256 non-null  object
 7   shape_len   52256 non-null  object
dtypes: object(8)
memory usage: 3.2+ MB

In [19]:
parcelgdf = gpd.GeoDataFrame(
    parcel, geometry=gpd.points_from_xy(parcel.lon_coord, parcel.lat_coord, 
                                          crs='EPSG:4326'))
parcelgdf

,the_geom,lon_coord,ain,lat_coord,x_coord,y_coord,shape_area,shape_len,geometry
0,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32052234,5052003001,34.02944719,6464550.25589,1833253.40852,4118.85839844,268.710312492,POINT (-118.32052 34.02945)
1,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32036613,5052003002,34.0294473,6464597.58649,1833253.29705,4118.71191406,268.700285953,POINT (-118.32037 34.02945)
2,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32036544,5052003004,34.02927138,6464597.59358,1833189.27834,5822.9453125,366.020815496,POINT (-118.32037 34.02927)
3,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32036271,5052003010,34.02859509,6464597.635,1832943.16,5821.99609375,366.000915114,POINT (-118.32036 34.02860)
4,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.32036179,5052003012,34.02836261,6464597.645,1832858.555,6561.81738281,376.420914855,POINT (-118.32036 34.02836)
...,...,...,...,...,...,...,...,...,...
52251,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.29500987,5540014010,34.09448939,6472349.83528,1856899.75435,17708.1816406,537.983233013,POINT (-118.29501 34.09449)
52252,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.2942414,5540015005,34.094516,6472582.52329,1856908.75437,9905.31347656,485.910341354,POINT (-118.29424 34.09452)
52253,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.29424216,5540016010,34.09423002,6472581.98691,1856804.68404,10059.3476563,487.292871966,POINT (-118.29424 34.09423)
52254,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.29465601,5540023002,34.09311708,6472455.505,1856400.03,6749.98144531,370.00250984,POINT (-118.29466 34.09312)
52255,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.295756,5540026006,34.09132439,6472120.54739,1855748.61818,7204.76464844,388.192655311,POINT (-118.29576 34.09132)

In [20]:
parcelgdf.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
RangeIndex: 52256 entries, 0 to 52255
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   the_geom    52256 non-null  object
 1   lon_coord   52256 non-null  object
 2   ain         52248 non-null  object
 3   lat_coord   52256 non-null  object
 4   x_coord     52256 non-null  object
 5   y_coord     52256 non-null  object
 6   shape_area  52256 non-null  object
 7   shape_len   52256 non-null  object
 8   geometry    52256 non-null  geometry
dtypes: geometry(1), object(8)
memory usage: 3.6+ MB

In [21]:
gdf_2010_sold.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 2186 entries, 110 to 41121
Data columns (total 23 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ain                        2186 non-null   object
 1   situszip                   2186 non-null   object
 2   center_lat                 2186 non-null   object
 3   center_lon                 2186 non-null   object
 4   rollyear                   2186 non-null   object
 5   roll_landvalue             2186 non-null   object
 6   sqftmain                   2186 non-null   object
 7   roll_impbaseyear           2186 non-null   object
 8   propertylocation           2186 non-null   object
 9   usecodedescchar1           2183 non-null   object
 10  effectiveyearbuilt         2186 non-null   object
 11  parcelboundarydescription  2186 non-null   object
 12  roll_landbaseyear          2186 non-null   object
 13  location_1                 2186 non-null   object
 14  OBJECTID_left              2186 non-null   float64
 15  neighborhood               2186 non-null   object
 16  index_right                2186 non-null   int64
 17  OBJECTID_right             2186 non-null   int64
 18  CT20                       2186 non-null   object
 19  LABEL                      2186 non-null   object
 20  ShapeSTArea                2186 non-null   float64
 21  ShapeSTLength              2186 non-null   float64
 22  geometry                   2186 non-null   geometry
dtypes: float64(3), geometry(1), int64(2), object(17)
memory usage: 409.9+ KB

In [22]:
gdf_2010_sold = gdf_2010_sold.drop(columns=['index_right'])
gdf_2010_sold

,ain,situszip,center_lat,center_lon,rollyear,roll_landvalue,sqftmain,roll_impbaseyear,propertylocation,usecodedescchar1,...,roll_landbaseyear,location_1,OBJECTID_left,neighborhood,OBJECTID_right,CT20,LABEL,ShapeSTArea,ShapeSTLength,geometry
110,5076006006,90006-1926,34.05337712,-118.28455814,2010,445001,5698,2010,963 S HOOVER ST LOS ANGELES CA 90006,Residential,...,2010,"{'latitude': '34.05337712', 'needs_recoding': ...",107.0,Westlake,685,213401,2134.01,2.110769e+06,6327.274225,POINT (-118.28456 34.05338)
162,5077013035,90005-3910,34.06108702,-118.28444197,2010,1169400,0,2010,667 S HOOVER ST LOS ANGELES CA 90005,Residential,...,2010,"{'latitude': '34.06108702', 'needs_recoding': ...",107.0,Westlake,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28444 34.06109)
170,5077013036,90005-3913,34.06132600,-118.28567752,2010,2504200,3192,2010,2851 SUNSET PL LOS ANGELES CA 90005,Commercial,...,2010,"{'latitude': '34.061326', 'needs_recoding': Fa...",107.0,Westlake,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28568 34.06133)
181,5077014054,90005-3977,34.06050239,-118.28604757,2010,200000,980,2010,"2864 SUNSET PL, 405 LOS ANGELES CA 90005",Residential,...,2010,"{'latitude': '34.06050239', 'needs_recoding': ...",107.0,Westlake,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28605 34.06050)
191,5077013034,90005-3913,34.06129452,-118.28500965,2010,12912400,1278,2010,2809 SUNSET PL LOS ANGELES CA 90005,Commercial,...,2010,"{'latitude': '34.06129452', 'needs_recoding': ...",107.0,Westlake,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28501 34.06129)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40896,5443007007,90039-3946,34.09445414,-118.25052874,2010,392000,1208,2010,1964 LANDA ST LOS ANGELES CA 90039,Residential,...,2010,"{'latitude': '34.09445414', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25053 34.09445)
41008,5443015013,90026-2053,34.09343035,-118.24598410,2010,396000,920,2010,2427 VALENTINE ST LOS ANGELES CA 90026,Residential,...,2010,"{'latitude': '34.09343035', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24598 34.09343)
41086,5443027028,90039-3735,34.09648201,-118.24958644,2010,525000,888,2010,1908 WALCOTT WAY LOS ANGELES CA 90039,Residential,...,2010,"{'latitude': '34.09648201', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24959 34.09648)
41107,5443028027,90039-3731,34.09575278,-118.25177910,2010,258600,1068,2010,1941 WHITMORE AVE LOS ANGELES CA 90039,Residential,...,2010,"{'latitude': '34.09575278', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25178 34.09575)
41121,5443028035,90039-3739,34.09586083,-118.25144462,2010,365000,517,2010,2355 PERU ST LOS ANGELES CA 90039,Residential,...,2010,"{'latitude': '34.09586083', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25144 34.09586)

In [23]:
joinedgdf2010=gpd.sjoin(gdf_2010_sold.to_crs('EPSG:4326'),parcelgdf.to_crs('EPSG:4326'),how='left')
joinedgdf2010

,ain_left,situszip,center_lat,center_lon,rollyear,roll_landvalue,sqftmain,roll_impbaseyear,propertylocation,usecodedescchar1,...,geometry,index_right,the_geom,lon_coord,ain_right,lat_coord,x_coord,y_coord,shape_area,shape_len
110,5076006006,90006-1926,34.05337712,-118.28455814,2010,445001,5698,2010,963 S HOOVER ST LOS ANGELES CA 90006,Residential,...,POINT (-118.28456 34.05338),48427.0,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28455814,5076006006,34.05337712,6475471.82332,1841929.1484,13521.4472656,470.334649481
162,5077013035,90005-3910,34.06108702,-118.28444197,2010,1169400,0,2010,667 S HOOVER ST LOS ANGELES CA 90005,Residential,...,POINT (-118.28444 34.06109),50431.0,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28444197,5077013035,34.06108702,6475514.95251,1844734.81795,8855.33203125,415.074878377
170,5077013036,90005-3913,34.06132600,-118.28567752,2010,2504200,3192,2010,2851 SUNSET PL LOS ANGELES CA 90005,Commercial,...,POINT (-118.28568 34.06133),50517.0,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28567752,5077013036,34.061326,6475140.9776,1844822.84926,19059.2460938,746.648966648
181,5077014054,90005-3977,34.06050239,-118.28604757,2010,200000,980,2010,"2864 SUNSET PL, 405 LOS ANGELES CA 90005",Residential,...,POINT (-118.28605 34.06050),50476.0,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28604757,5077014048,34.06050239,6475028.04528,1844523.44255,6830.42871094,393.57457948
181,5077014054,90005-3977,34.06050239,-118.28604757,2010,200000,980,2010,"2864 SUNSET PL, 405 LOS ANGELES CA 90005",Residential,...,POINT (-118.28605 34.06050),50526.0,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28604757,5077014053,34.06050239,6475028.04528,1844523.44255,6830.42871094,393.57457948
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40896,5443007007,90039-3946,34.09445414,-118.25052874,2010,392000,1208,2010,1964 LANDA ST LOS ANGELES CA 90039,Residential,...,POINT (-118.25053 34.09445),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41008,5443015013,90026-2053,34.09343035,-118.24598410,2010,396000,920,2010,2427 VALENTINE ST LOS ANGELES CA 90026,Residential,...,POINT (-118.24598 34.09343),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41086,5443027028,90039-3735,34.09648201,-118.24958644,2010,525000,888,2010,1908 WALCOTT WAY LOS ANGELES CA 90039,Residential,...,POINT (-118.24959 34.09648),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41107,5443028027,90039-3731,34.09575278,-118.25177910,2010,258600,1068,2010,1941 WHITMORE AVE LOS ANGELES CA 90039,Residential,...,POINT (-118.25178 34.09575),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41121,5443028035,90039-3739,34.09586083,-118.25144462,2010,365000,517,2010,2355 PERU ST LOS ANGELES CA 90039,Residential,...,POINT (-118.25144 34.09586),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
gdf_2010_sold

,ain,situszip,center_lat,center_lon,rollyear,roll_landvalue,sqftmain,roll_impbaseyear,propertylocation,usecodedescchar1,...,roll_landbaseyear,location_1,OBJECTID_left,neighborhood,OBJECTID_right,CT20,LABEL,ShapeSTArea,ShapeSTLength,geometry
110,5076006006,90006-1926,34.05337712,-118.28455814,2010,445001,5698,2010,963 S HOOVER ST LOS ANGELES CA 90006,Residential,...,2010,"{'latitude': '34.05337712', 'needs_recoding': ...",107.0,Westlake,685,213401,2134.01,2.110769e+06,6327.274225,POINT (-118.28456 34.05338)
162,5077013035,90005-3910,34.06108702,-118.28444197,2010,1169400,0,2010,667 S HOOVER ST LOS ANGELES CA 90005,Residential,...,2010,"{'latitude': '34.06108702', 'needs_recoding': ...",107.0,Westlake,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28444 34.06109)
170,5077013036,90005-3913,34.06132600,-118.28567752,2010,2504200,3192,2010,2851 SUNSET PL LOS ANGELES CA 90005,Commercial,...,2010,"{'latitude': '34.061326', 'needs_recoding': Fa...",107.0,Westlake,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28568 34.06133)
181,5077014054,90005-3977,34.06050239,-118.28604757,2010,200000,980,2010,"2864 SUNSET PL, 405 LOS ANGELES CA 90005",Residential,...,2010,"{'latitude': '34.06050239', 'needs_recoding': ...",107.0,Westlake,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28605 34.06050)
191,5077013034,90005-3913,34.06129452,-118.28500965,2010,12912400,1278,2010,2809 SUNSET PL LOS ANGELES CA 90005,Commercial,...,2010,"{'latitude': '34.06129452', 'needs_recoding': ...",107.0,Westlake,665,212204,2122.04,2.294673e+06,6149.261568,POINT (-118.28501 34.06129)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40896,5443007007,90039-3946,34.09445414,-118.25052874,2010,392000,1208,2010,1964 LANDA ST LOS ANGELES CA 90039,Residential,...,2010,"{'latitude': '34.09445414', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25053 34.09445)
41008,5443015013,90026-2053,34.09343035,-118.24598410,2010,396000,920,2010,2427 VALENTINE ST LOS ANGELES CA 90026,Residential,...,2010,"{'latitude': '34.09343035', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24598 34.09343)
41086,5443027028,90039-3735,34.09648201,-118.24958644,2010,525000,888,2010,1908 WALCOTT WAY LOS ANGELES CA 90039,Residential,...,2010,"{'latitude': '34.09648201', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.24959 34.09648)
41107,5443028027,90039-3731,34.09575278,-118.25177910,2010,258600,1068,2010,1941 WHITMORE AVE LOS ANGELES CA 90039,Residential,...,2010,"{'latitude': '34.09575278', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25178 34.09575)
41121,5443028035,90039-3739,34.09586083,-118.25144462,2010,365000,517,2010,2355 PERU ST LOS ANGELES CA 90039,Residential,...,2010,"{'latitude': '34.09586083', 'needs_recoding': ...",27.0,Echo Park,526,197410,1974.10,1.499700e+07,18531.588486,POINT (-118.25144 34.09586)

In [25]:
join2010 = gdf_2010_sold.merge(parcelgdf, how='left',on='ain')
join2010 = join2010.dropna()
join2010

,ain,situszip,center_lat,center_lon,rollyear,roll_landvalue,sqftmain,roll_impbaseyear,propertylocation,usecodedescchar1,...,ShapeSTLength,geometry_x,the_geom,lon_coord,lat_coord,x_coord,y_coord,shape_area,shape_len,geometry_y
0,5076006006,90006-1926,34.05337712,-118.28455814,2010,445001,5698,2010,963 S HOOVER ST LOS ANGELES CA 90006,Residential,...,6327.274225,POINT (-118.28456 34.05338),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28455814,34.05337712,6475471.82332,1841929.1484,13521.4472656,470.334649481,POINT (-118.28456 34.05338)
1,5077013035,90005-3910,34.06108702,-118.28444197,2010,1169400,0,2010,667 S HOOVER ST LOS ANGELES CA 90005,Residential,...,6149.261568,POINT (-118.28444 34.06109),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28444197,34.06108702,6475514.95251,1844734.81795,8855.33203125,415.074878377,POINT (-118.28444 34.06109)
2,5077013036,90005-3913,34.06132600,-118.28567752,2010,2504200,3192,2010,2851 SUNSET PL LOS ANGELES CA 90005,Commercial,...,6149.261568,POINT (-118.28568 34.06133),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28567752,34.061326,6475140.9776,1844822.84926,19059.2460938,746.648966648,POINT (-118.28568 34.06133)
3,5077014054,90005-3977,34.06050239,-118.28604757,2010,200000,980,2010,"2864 SUNSET PL, 405 LOS ANGELES CA 90005",Residential,...,6149.261568,POINT (-118.28605 34.06050),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28604757,34.06050239,6475028.04528,1844523.44255,6830.42871094,393.57457948,POINT (-118.28605 34.06050)
4,5077013034,90005-3913,34.06129452,-118.28500965,2010,12912400,1278,2010,2809 SUNSET PL LOS ANGELES CA 90005,Commercial,...,6149.261568,POINT (-118.28501 34.06129),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28500965,34.06129452,6475343.22777,1844810.81772,100532.499023,1343.89410917,POINT (-118.28501 34.06129)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,5402028009,90026-4022,34.07621231,-118.26869364,2010,300000,1678,2010,810 CORONADO TER LOS ANGELES CA 90026,Residential,...,9761.838870,POINT (-118.26869 34.07621),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.26869434,34.07621263,6480299.29371,1850226.17628,5731.46777344,329.140692477,POINT (-118.26869 34.07621)
2169,5424018007,90026-2322,34.08223393,-118.26787100,2010,388000,1066,2010,1326 MCCOLLUM ST LOS ANGELES CA 90026,Residential,...,11167.787060,POINT (-118.26787 34.08223),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.267871,34.08223393,6480554.46136,1852416.77032,4797.51367188,319.884103451,POINT (-118.26787 34.08223)
2170,5424017011,90026-2215,34.08301413,-118.26851995,2010,639200,1968,2010,1342 N BENTON WAY LOS ANGELES CA 90026,Residential,...,11167.787060,POINT (-118.26852 34.08301),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.26851995,34.08301413,6480358.71324,1852701.22073,5209.87402344,340.536942721,POINT (-118.26852 34.08301)
2171,5424016027,90026-2323,34.08339106,-118.26781974,2010,503000,2052,2010,1407 MCCOLLUM ST LOS ANGELES CA 90026,Residential,...,11167.787060,POINT (-118.26782 34.08339),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.26781974,34.08339106,6480571.10326,1852837.82668,4798.84570313,319.987066318,POINT (-118.26782 34.08339)
2174,5424017010,90026-2215,34.08291563,-118.26857864,2010,553000,1369,2010,1338 N BENTON WAY LOS ANGELES CA 90026,Residential,...,11167.787060,POINT (-118.26858 34.08292),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.26857864,34.08291563,6480340.84678,1852665.42276,5153.58007813,337.691828565,POINT (-118.26858 34.08292)

In [26]:
join2010.query('neighborhood == "Westlake"').neighborhood.count()

116

In [27]:
join2010.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 962 entries, 0 to 2174
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ain                        962 non-null    object
 1   situszip                   962 non-null    object
 2   center_lat                 962 non-null    object
 3   center_lon                 962 non-null    object
 4   rollyear                   962 non-null    object
 5   roll_landvalue             962 non-null    object
 6   sqftmain                   962 non-null    object
 7   roll_impbaseyear           962 non-null    object
 8   propertylocation           962 non-null    object
 9   usecodedescchar1           962 non-null    object
 10  effectiveyearbuilt         962 non-null    object
 11  parcelboundarydescription  962 non-null    object
 12  roll_landbaseyear          962 non-null    object
 13  location_1                 962 non-null    object
 14  OBJECTID_left              962 non-null    float64
 15  neighborhood               962 non-null    object
 16  OBJECTID_right             962 non-null    int64
 17  CT20                       962 non-null    object
 18  LABEL                      962 non-null    object
 19  ShapeSTArea                962 non-null    float64
 20  ShapeSTLength              962 non-null    float64
 21  geometry_x                 962 non-null    geometry
 22  the_geom                   962 non-null    object
 23  lon_coord                  962 non-null    object
 24  lat_coord                  962 non-null    object
 25  x_coord                    962 non-null    object
 26  y_coord                    962 non-null    object
 27  shape_area                 962 non-null    object
 28  shape_len                  962 non-null    object
 29  geometry_y                 962 non-null    geometry
dtypes: float64(3), geometry(2), int64(1), object(24)
memory usage: 233.0+ KB

In [28]:
#join2010['roll_landvalue'].astype(float)
#join2010['shape_area'].astype(float)
join2010['shape_area'] = pd.to_numeric(join2010['shape_area'])
join2010['roll_landvalue'] = pd.to_numeric(join2010['roll_landvalue'])

In [29]:
join2010.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 962 entries, 0 to 2174
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ain                        962 non-null    object
 1   situszip                   962 non-null    object
 2   center_lat                 962 non-null    object
 3   center_lon                 962 non-null    object
 4   rollyear                   962 non-null    object
 5   roll_landvalue             962 non-null    int64
 6   sqftmain                   962 non-null    object
 7   roll_impbaseyear           962 non-null    object
 8   propertylocation           962 non-null    object
 9   usecodedescchar1           962 non-null    object
 10  effectiveyearbuilt         962 non-null    object
 11  parcelboundarydescription  962 non-null    object
 12  roll_landbaseyear          962 non-null    object
 13  location_1                 962 non-null    object
 14  OBJECTID_left              962 non-null    float64
 15  neighborhood               962 non-null    object
 16  OBJECTID_right             962 non-null    int64
 17  CT20                       962 non-null    object
 18  LABEL                      962 non-null    object
 19  ShapeSTArea                962 non-null    float64
 20  ShapeSTLength              962 non-null    float64
 21  geometry_x                 962 non-null    geometry
 22  the_geom                   962 non-null    object
 23  lon_coord                  962 non-null    object
 24  lat_coord                  962 non-null    object
 25  x_coord                    962 non-null    object
 26  y_coord                    962 non-null    object
 27  shape_area                 962 non-null    float64
 28  shape_len                  962 non-null    object
 29  geometry_y                 962 non-null    geometry
dtypes: float64(4), geometry(2), int64(2), object(22)
memory usage: 233.0+ KB

In [30]:
join2010['landvalue_sqft']=join2010['roll_landvalue']/join2010['shape_area']
join2010

,ain,situszip,center_lat,center_lon,rollyear,roll_landvalue,sqftmain,roll_impbaseyear,propertylocation,usecodedescchar1,...,geometry_x,the_geom,lon_coord,lat_coord,x_coord,y_coord,shape_area,shape_len,geometry_y,landvalue_sqft
0,5076006006,90006-1926,34.05337712,-118.28455814,2010,445001,5698,2010,963 S HOOVER ST LOS ANGELES CA 90006,Residential,...,POINT (-118.28456 34.05338),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28455814,34.05337712,6475471.82332,1841929.1484,13521.447266,470.334649481,POINT (-118.28456 34.05338),32.910752
1,5077013035,90005-3910,34.06108702,-118.28444197,2010,1169400,0,2010,667 S HOOVER ST LOS ANGELES CA 90005,Residential,...,POINT (-118.28444 34.06109),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28444197,34.06108702,6475514.95251,1844734.81795,8855.332031,415.074878377,POINT (-118.28444 34.06109),132.056031
2,5077013036,90005-3913,34.06132600,-118.28567752,2010,2504200,3192,2010,2851 SUNSET PL LOS ANGELES CA 90005,Commercial,...,POINT (-118.28568 34.06133),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28567752,34.061326,6475140.9776,1844822.84926,19059.246094,746.648966648,POINT (-118.28568 34.06133),131.390297
3,5077014054,90005-3977,34.06050239,-118.28604757,2010,200000,980,2010,"2864 SUNSET PL, 405 LOS ANGELES CA 90005",Residential,...,POINT (-118.28605 34.06050),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28604757,34.06050239,6475028.04528,1844523.44255,6830.428711,393.57457948,POINT (-118.28605 34.06050),29.280739
4,5077013034,90005-3913,34.06129452,-118.28500965,2010,12912400,1278,2010,2809 SUNSET PL LOS ANGELES CA 90005,Commercial,...,POINT (-118.28501 34.06129),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.28500965,34.06129452,6475343.22777,1844810.81772,100532.499023,1343.89410917,POINT (-118.28501 34.06129),128.440058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2056,5402028009,90026-4022,34.07621231,-118.26869364,2010,300000,1678,2010,810 CORONADO TER LOS ANGELES CA 90026,Residential,...,POINT (-118.26869 34.07621),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.26869434,34.07621263,6480299.29371,1850226.17628,5731.467773,329.140692477,POINT (-118.26869 34.07621),52.342613
2169,5424018007,90026-2322,34.08223393,-118.26787100,2010,388000,1066,2010,1326 MCCOLLUM ST LOS ANGELES CA 90026,Residential,...,POINT (-118.26787 34.08223),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.267871,34.08223393,6480554.46136,1852416.77032,4797.513672,319.884103451,POINT (-118.26787 34.08223),80.875225
2170,5424017011,90026-2215,34.08301413,-118.26851995,2010,639200,1968,2010,1342 N BENTON WAY LOS ANGELES CA 90026,Residential,...,POINT (-118.26852 34.08301),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.26851995,34.08301413,6480358.71324,1852701.22073,5209.874023,340.536942721,POINT (-118.26852 34.08301),122.690107
2171,5424016027,90026-2323,34.08339106,-118.26781974,2010,503000,2052,2010,1407 MCCOLLUM ST LOS ANGELES CA 90026,Residential,...,POINT (-118.26782 34.08339),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.26781974,34.08339106,6480571.10326,1852837.82668,4798.845703,319.987066318,POINT (-118.26782 34.08339),104.816873
2174,5424017010,90026-2215,34.08291563,-118.26857864,2010,553000,1369,2010,1338 N BENTON WAY LOS ANGELES CA 90026,Residential,...,POINT (-118.26858 34.08292),"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",-118.26857864,34.08291563,6480340.84678,1852665.42276,5153.580078,337.691828565,POINT (-118.26858 34.08292),107.304047

In [31]:
censusjoin2010 = join2010.groupby('CT20').ain.count()
censusjoin2010

CT20
191301     6
195100    24
195400    27
195500     8
195600     6
          ..
221220    11
221602     6
224200     8
224310     3
224320     6
Name: ain, Length: 81, dtype: int64

In [32]:
df_census_n = pd.DataFrame(censusjoin2010)
df_census_n =df_census_n.rename(columns={'ain': 'n_parcel'})
df_census_n

        n_parcel
CT20
191301         6
195100        24
195400        27
195500         8
195600         6
...          ...
221220        11
221602         6
224200         8
224310         3
224320         6

[81 rows x 1 columns]

In [33]:
censuslvsfjoin2010 = join2010.groupby('CT20').landvalue_sqft.sum()
censuslvsfjoin2010

CT20
191301     487.864949
195100    2144.173925
195400    2310.469367
195500     908.825055
195600     556.425170
             ...
221220     657.914786
221602     211.975388
224200     561.730352
224310     210.831571
224320     383.565160
Name: landvalue_sqft, Length: 81, dtype: float64

In [34]:
df_lvsf = pd.DataFrame(censuslvsfjoin2010)
df_lvsf

        landvalue_sqft
CT20
191301      487.864949
195100     2144.173925
195400     2310.469367
195500      908.825055
195600      556.425170
...                ...
221220      657.914786
221602      211.975388
224200      561.730352
224310      210.831571
224320      383.565160

[81 rows x 1 columns]

In [35]:
df_lvsf.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 191301 to 224320
Data columns (total 1 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   landvalue_sqft  81 non-null     float64
dtypes: float64(1)
memory usage: 3.3+ KB

In [36]:
df_census_n.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 191301 to 224320
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   n_parcel  81 non-null     int64
dtypes: int64(1)
memory usage: 3.3+ KB

In [37]:
newjoin = df_lvsf.merge(df_census_n, how='left',on='CT20')
newjoin

        landvalue_sqft  n_parcel
CT20
191301      487.864949         6
195100     2144.173925        24
195400     2310.469367        27
195500      908.825055         8
195600      556.425170         6
...                ...       ...
221220      657.914786        11
221602      211.975388         6
224200      561.730352         8
224310      210.831571         3
224320      383.565160         6

[81 rows x 2 columns]

In [38]:
newjoin['avgprice_tract']=newjoin['landvalue_sqft']/newjoin['n_parcel']
newjoin

        landvalue_sqft  n_parcel  avgprice_tract
CT20
191301      487.864949         6       81.310825
195100     2144.173925        24       89.340580
195400     2310.469367        27       85.572940
195500      908.825055         8      113.603132
195600      556.425170         6       92.737528
...                ...       ...             ...
221220      657.914786        11       59.810435
221602      211.975388         6       35.329231
224200      561.730352         8       70.216294
224310      210.831571         3       70.277190
224320      383.565160         6       63.927527

[81 rows x 3 columns]

In [39]:
newjoin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 81 entries, 191301 to 224320
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   landvalue_sqft  81 non-null     float64
 1   n_parcel        81 non-null     int64
 2   avgprice_tract  81 non-null     float64
dtypes: float64(2), int64(1)
memory usage: 2.5+ KB

In [ ]:
#percent change with and without inflation